#spr1_3e1de744,#spr2_3e1de744 {clip:rect(0px,864px,648px,0px);}#svg3_3e1de744 {-webkit-transform-origin:1.8px 0.9px; -moz-transform-origin:1.8px 0.9px; -o-transform-origin:1.8px 0.9px; -ms-transform-origin:1.8px 0.9px; transform-origin:1.8px 0.9px;}