#spr1_3c769b8f,#spr2_3c769b8f {clip:rect(0px,864px,648px,0px);}#svg3_3c769b8f {-webkit-transform-origin:1.8px 0.9px; -moz-transform-origin:1.8px 0.9px; -o-transform-origin:1.8px 0.9px; -ms-transform-origin:1.8px 0.9px; transform-origin:1.8px 0.9px;}