#spr2_8422f0e6 * {-webkit-transform-origin:0 0; -moz-transform-origin:0 0; -o-transform-origin:0 0; -ms-transform-origin:0 0; transform-origin:0 0;}#spr1_8422f0e6,#spr2_8422f0e6 {clip:rect(0px,960px,540px,0px);}#spr2_8422f0e6 a img {border:0;}#spr2_8422f0e6 a {text-decoration:none; cursor:pointer;}