#spr2_8422f069 * {-webkit-transform-origin:0 0; -moz-transform-origin:0 0; -o-transform-origin:0 0; -ms-transform-origin:0 0; transform-origin:0 0;}#spr1_8422f069,#spr2_8422f069 {clip:rect(0px,960px,540px,0px);}#spr2_8422f069 a img {border:0;}#spr2_8422f069 a {text-decoration:none; cursor:pointer;}