.cuadrado1 {
    width: 3vh;
    max-width: 100px;
    height: 3vh;
    max-height: 100px;
    position: relative;
    background: #1bb49a;
    margin-bottom: 4px;
}
.cuadrado2 {
    width: 3vh;
    max-width: 100px;
    height: 3vh;
    max-height: 100px;
    position: relative;
    background: #f5216e;
    margin-bottom: 4px;
}
.cuadrado3 {
    width: 3vh;
    max-width: 100px;
    height: 3vh;
    max-height: 100px;
    position: relative;
    background: #48099d;
}
.left {
    float: left !important;
}
.right {
    float: right !important;
}

.center{
   display:inline-block !important;
}
