		 #steps>li.active>a, #steps>li.active>a:focus, #steps>li.active>a:hover {
            background-color: #f5216e;
            color: #E9ECFF;
            cursor: pointer;
            margin-top: 10px;
            border:1px solid #f5216e;
            border-bottom-color: transparent;
            text-align: left;
            padding-bottom: 1.5em;
            padding-top: -2px;
            height: 6em;

        }
        #steps>li>a:hover{
            color: #f5216e;
            background-color: #F2F2F2;
        }
        #steps li a:hover{
            margin-top: -19px;
            padding: 1em 3em;

        }

        #steps li a {
            border-radius:0;
            cursor: pointer;
            overflow: hidden;
            background:#F2F2F2;
            color:#404353;
            font-weight: bold;
            height: 5em;
            text-transform: capitalize;
            box-shadow: 8px 12px 25px 2px rgba(0, 0, 0, 0.4);
            transition: all 0.4s ease 0s;
            -webkit-transition: all 0.4s ease 0s;
            -moz-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
        }

        #steps.nav-justified>li>a {

            text-align: left;
        }

        .borra {

            font-family: Helvetica;
            font-size: 1em;
            margin-top: -1.5em;
            text-align: left;
            margin-left: -1em;
        }
        .stepTitle{
            font-weight: bold;
            font-family: Helvetica;
            font-size: 2em;
            margin-top: -.2em;

        }

        @media only screen and (min-height: 1920px){
            .borra{
                display: none;
            }
            #steps li{ width:100%; }
            #steps li a{
                margin:0;
                padding:1em 4em;
                box-shadow: -2px -1px 25px 2px rgba(0, 0, 0, 0.4);
            }
            #steps li:first-child a,
            #steps li:last-child a{
                border-radius: 0;
            }
            #steps li a:hover,
            #steps li.active a:hover,
            #steps li.active a{
                margin:0;
            }
        }

        @media only screen and (max-width: 985px) {
         .stepTitle{
            font-size: 1em;
            text-align: center;
            margin-top: 1em;
        }

        @media only screen and (min-width: 768px){
            .stepTitle{
                text-align: center;
                margin-top: 1em;
                text-align: center;
            }
            .borra{
                display: none;
            }
            #steps li{ width: 20%; }
            #steps li a{
                margin:0;
                padding-top: 1em;
                padding-bottom: -1em;
                padding-right: 1em;
                padding-left: 1em;
            }
            #steps li:first-child a,
            #steps li:last-child a{
                border-radius: 0;
            }
            #steps li a:hover,
            #steps li.active a:hover,
            #steps li.active a{
                margin:0;
            }

            #steps li a:hover, #steps li.active a:hover, #steps li.active a{
                height: 5em;

            }
        }
        
    }
