/***
   jobapplication.create._form
   
***/
.input-group-addon{
		width: 42%;
	}

/***
	END
   jobapplication.create._form
   
***/
.wizard {
	background: #fff;
}

.wizard .nav-tabs {
	position: relative;
	margin-bottom: 0;
}

.wizard > div.wizard-inner {
	position: relative;
}

.letters{
	font-weight: bold;
}

h4, h5.subtitleJob.text-center {
    text-align: center;
    margin: 1em;
    padding: .5em;
    color: black;
}

   h5.subtitleJob.text-center{
   	margin-top: -1.5em;
   }

   button#next-jobs.btn.btn-primary-btn-lg.next-step{
   	margin: 1em;
   }

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
	color: #555555;
	cursor: default;
	border: 0;
}

.tabs_application{
	margin-top: -10em;
}
 
span.round-tab {
	width: 2.5em;
	height: 2.5em;
	line-height: 2.5em;
	display: inline-block;
	border-radius: 100px;
	background: #fff;
	border: 2px solid #e0e0e0;
	z-index: 2;
	position: absolute;
	left: 0;
	text-align: center;
	font-size: 2em;
	margin-top: -.5em;
}
span.round-tab i{
	color:#555555;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.6em;
}
.wizard li.active span.round-tab {
	background: #fff;
	border: 2px solid black;

}
.wizard li.active span.round-tab i{
	color: black;
}

span.round-tab:hover {
	color: #333;
	border: 2px solid #333;
}

.wizard .nav-tabs > li {
	width: 10%;
}

.wizard .nav-tabs > li a {
	width: 70px;
	height: 70px;
	margin: 20px auto;
	border-radius: 100%;
	padding: 0;
}

.wizard .nav-tabs > li a:hover {
	background: transparent;
}

.wizard .tab-pane {
	position: relative;
	padding-top: 2em;
}

.wizard h3 {
	margin-top: -2.5em;
}
.step1 .row {
	margin-bottom:10px;
}
.step_21 {
	border :1px solid #eee;
	border-radius:5px;
	padding:10px;
}
.step33 {
	border:1px solid #ccc;
	border-radius:5px;
	padding-left:10px;
	margin-bottom:10px;
}
.dropselectsec {
	width: 68%;
	padding: 6px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	margin-left: 10px;
	outline: none;
	font-weight: normal;
}
.dropselectsec1 {
	width: 74%;
	padding: 6px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	margin-left: 10px;
	outline: none;
	font-weight: normal;
}
.mar_ned {
	margin-bottom:10px;
}
.wdth {
	width:25%;
}
.birthdrop {
	padding: 6px 5px;
	border: 1px solid #ccc;
	border-radius: 3px;
	color: #333;
	margin-left: 10px;
	width: 16%;
	outline: 0;
	font-weight: normal;
}

@media (max-width: 1150px ) {

	.wizard {
		width: 90%;
		height: auto !important;
	}

	span.round-tab {
		font-size: 15px;
		width: 2em;
		height: 2em;
		line-height: 2em;
		margin-top: -1em;
	}

	.wizard .nav-tabs > li a {
		width: 0em;
		height: 0em;
		line-height: 0em;
	}
}